// colors
$white: #ffffff;
$green : #008632;
$pink : #E50695;
$dark-gray : #1F1F1F;
$light-gray : #F5F5F5;
$gray-color : #8a8a8a;
$white-smoke : rgba(247, 247, 250, 0.75);
$eerie-Black : #1C1C28;
$dark-blue : #131195;
$primary-liner : (146.92deg, #EA14EC -2.59%, #1246CE 100.83%);
$alpha-white : rgba(247, 247, 250, 0.2);

// breakpoints
$xs : 0px;
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// max-container
$container-width : 1200px;

